:root {
  --meme-blue: #60B6D7;
  --pepe-green: #438238;

  --content-width: 700px
}

* {
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  background-image: url(../res/Gemini_Generated_Image_bgv62kbgv62kbgv6.png);
  background-attachment: fixed;
  background-repeat: round;
}

header {
  box-sizing: border-box;
  display: flex;
  position: fixed;
  align-items: center;
  top: 0;
  background-color: var(--meme-blue);
  padding: 1%;
  width: 100%;
  height: 100px;
  z-index: 1;
  outline: 4px solid var(--pepe-green);
}

main {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 10px;
  flex: 1;
  width: 100%;
  max-width: var(--content-width);
}

footer {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  background-color: var(--meme-blue);
  padding: 10px 0px;
  height: 50px;
  width: 100%;
  outline: 4px solid var(--pepe-green);
}

h1 {
  font-size: min(7vw, 40px);
  color: white;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  max-width: var(--content-width);
  margin: 0 auto;
}

button {
  padding: 0.4% 0px;
  text-align: center;
}

.nav-buttons-container {
  display: flex;
  justify-content: space-between;
  width: var(--content-width);
}

.nav-button {
  width: min(100px, 50%);
  border-radius: 10px;
  box-sizing: border-box;
  margin: 0 10px;
  white-space: nowrap;
}

.nav-button:disabled {
  background-color: rgb(180, 180, 180);
}
.nav-button:hover:not([disabled]) {
  background-color: rgba(203, 254, 194, 0.584)
}

.answer-button {
  box-sizing: border-box;
  width: min(170px, 100%);
  height: 50px;
  border-radius: 10px;
}
.answer-button:disabled {
  background-color: var(--meme-blue);
  border-radius: 10px;
  border-color: blue;
  font-weight: bolder;
  color: black;
}
.answer-button:hover:not([disabled]) {
  background-color: #b2e8fe;
}

#main-content {
  box-sizing: border-box;
  padding: 0 5px;
  padding-top: 100px;
  padding-bottom: 50px;
  flex: 1;
  width: 100%;
  height: 100%;  
  max-width: var(--content-width);
  background-color: rgba(251, 234, 46, 0.957);
  outline: 4px solid var(--pepe-green);
}

#quiz {
  text-align: center;
}

#performance-review {
  text-align: center;
}

#question {
  width: 100%;
  box-sizing: border-box;
}

#text-entry {
  box-sizing: border-box;
  padding: 0.5em;
  border-radius: 10px;
  width: 100%;
  max-width: 250px;
}

#multi-choice-input, #true-false-input {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  row-gap: 1px;
  justify-items: center;
}

#back-button {
  margin-left: 10px;
}

#next-button {
  margin-left: auto;
  margin-right: 10px;
  justify-content: flex-end;
}


