body {
  margin: 0;
}
header {
  position: fixed;
  top: 0;
  background-color: black;
  padding: 1%;
  width: 100%;
}

main {
  position: relative;
  top: 176px;
  margin: auto;
  width: 50%;
  background-color: lightgray;
  padding: 5px;
}

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 10px 0px;
  width: 100%;
}

.nav-buttons-container {
  display: flex;
  width: 50%;
  max-width: 1000px;
}

h1 {
  color: white;
  text-align: center;
}

button {
  width: 80px;
  padding: 0.3% 0px;
  text-align: center;
}

.next-button {
  margin-left: auto;
  justify-content: flex-end;
}