body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
}

header {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  background-color: black;
  padding: 1%;
  width: 100%;
  height: 100px;
  z-index: 1;
}

main {
  box-sizing: border-box;
  position: static;
  margin: 0 auto;
  padding: 0 10%;
  flex: 1;
  padding-top: 100px;
  padding-bottom: 50px;
  width: 50%;
  background-color: lightgray;
}

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 10px 0px;
  height: 30px;
  width: 100%;
}

h1 {
  color: white;
  text-align: center;
}

button {
  padding: 0.4% 0px;
  text-align: center;
}

.nav-buttons-container {
  display: flex;
  width: 50%;
  max-width: 1000px;
}

.nav-button {
  width: 100px;
}

.answer-button {
  width: 170px;
  height: 50px;
}

#multi-choice-input, #true-false-input {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  justify-items: center;
  
}

#next-button {
  margin-left: auto;
  justify-content: flex-end;
}

#quiz {
  text-align: center;
}

#performance-review {
  text-align: center;
}

